@import '../../../../../styles/variables.scss';

.wrapper--nav-button {
    width: 70px;
    height: 60px;
    padding: 15px;
    padding-left: 22px;

    &:hover {
        background-color: $header-icons-bg;
    }
}

.nav__left__button__img {
    filter: invert(0.7) sepia(0.2);
    width: 30px;
    height: 30px;
}

