// Background colors
$main-bg-color: #1e5d88;
$header-bg: #2c3f50;
$header-top-bg: #33495e;
$header-icons-bg: #37739e;
$nav-bg: #2b3e4f;
$nav-active-bg: #ffffff;
$main-bg: #f8f8f8;
$wall-bg: #ffffff;
$wall-headings-bg: #f5f5f5;

// Fonts Color
$blue: #3a87ad;
$light-blue: #b9c8d4;